.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.step21 {
  background: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1096px;
  display: block;
  overflow: hidden;
}
.heroSection {
  background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)),
    url("./images/heroSection.png") center center / cover no-repeat;
  width: 1440px;
  height: 1114px;
  display: block;
  position: absolute;
  top: -18px;
  left: 0px;
  overflow: hidden;
}
.trending {
  transform: translate(-0.5px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 831px;
  left: 607px;
  flex-direction: row;
}
.trending > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.trending > :global(.__wab_flex-container) > *,
.trending > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.trending > :global(.__wab_flex-container) > picture > img,
.trending
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text___01Wwu {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.img__ihVte {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  display: block !important;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img__ihVte > picture > img {
  object-fit: cover;
}
.svg___1D9Lf {
  object-fit: cover;
  max-width: 100%;
  color: #7dcdcd;
  transform: scale(0.9988938882584075, 0.9991521739512451)
    rotate(14.968365505712718deg) skew(-0.0554129279751319deg, 0deg)
    translate(0.011000000000002785px, 0px);
  width: 299px;
  height: 66px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 660px;
  left: 40px;
}
.formLabel {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 919px;
  left: 580px;
  flex-direction: row;
}
.formLabel > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.formLabel > :global(.__wab_flex-container) > *,
.formLabel > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.formLabel > :global(.__wab_flex-container) > picture > img,
.formLabel
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text__cWnbb {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.img__qwcCm {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  display: block !important;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img__qwcCm > picture > img {
  object-fit: cover;
}
.navbar {
  width: 1440px;
  height: 72px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.frame5995 {
  width: 1240px;
  height: auto;
  display: flex;
  position: absolute;
  top: 16px;
  left: 100px;
  flex-direction: row;
}
.frame5995 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 354px);
  width: calc(100% + 354px);
}
.frame5995 > :global(.__wab_flex-container) > *,
.frame5995 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5995 > :global(.__wab_flex-container) > picture > img,
.frame5995
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 354px;
}
.logo {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.logo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16.25px);
  width: calc(100% + 16.25px);
}
.logo > :global(.__wab_flex-container) > *,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo > :global(.__wab_flex-container) > picture > img,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16.25px;
}
.img__htPsn {
  object-fit: cover;
  max-width: 100%;
  width: 177px;
  height: 29px;
  display: block !important;
  position: relative;
  flex-shrink: 0;
}
.img__htPsn > picture > img {
  object-fit: cover;
}
.frame427322500 {
  background: rgba(242, 93, 149, 1);
  opacity: 0;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 5px;
  padding: 10px;
}
.frame427322500 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 27.5px);
  width: calc(100% + 27.5px);
}
.frame427322500 > :global(.__wab_flex-container) > *,
.frame427322500 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame427322500 > :global(.__wab_flex-container) > picture > img,
.frame427322500
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 27.5px;
}
.text__kplOu {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.arrowDropDown {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__aa1R6 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.1670000000000016px, 0.3470000000000013px);
  width: 9px;
  height: 5px;
  display: block;
  position: absolute;
  top: 40%;
  left: 30%;
}
.navMenu {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navMenu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.navMenu > :global(.__wab_flex-container) > *,
.navMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navMenu > :global(.__wab_flex-container) > picture > img,
.navMenu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.frame1000005439 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame1000005439 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame1000005439 > :global(.__wab_flex-container) > *,
.frame1000005439 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1000005439 > :global(.__wab_flex-container) > picture > img,
.frame1000005439
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.menu {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg___6AvNu {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.0009999999999998899px, 0px);
  width: 18px;
  height: 12px;
  display: block;
  position: absolute;
  top: 25%;
  left: 12.5%;
}
.text__p9Dx8 {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.freeBox__afdbd {
  display: block;
  position: relative;
  width: 0px;
  height: 36px;
  flex-shrink: 0;
}
.svg__ggrGa {
  object-fit: cover;
  max-width: 100%;
  color: #d7d7d7;
  opacity: 0.5;
  transform: scale(1.000000499999875, 1.0000004999998748)
    rotate(90.0572957604145deg);
  width: 36px;
  height: 1px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame1000005438 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame1000005438 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.frame1000005438 > :global(.__wab_flex-container) > *,
.frame1000005438 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1000005438 > :global(.__wab_flex-container) > picture > img,
.frame1000005438
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.call {
  width: 28px;
  height: 28px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__thVak {
  object-fit: cover;
  max-width: 100%;
  color: #868bf3;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 14.28%;
  left: 14.28%;
}
.actionBtns {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.actionBtns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.actionBtns > :global(.__wab_flex-container) > *,
.actionBtns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.actionBtns > :global(.__wab_flex-container) > picture > img,
.actionBtns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.text___4MFhc {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame427322524 {
  width: 714px;
  height: 295px;
  display: block;
  position: absolute;
  top: 170px;
  left: 363px;
}
.frame427322523 {
  width: 596px;
  height: 74px;
  display: block;
  position: absolute;
  top: 212px;
  left: 59px;
}
.frame427322522 {
  width: 596px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.userReviews {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 110px;
  left: 144px;
  flex-direction: row;
}
.userReviews > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.userReviews > :global(.__wab_flex-container) > *,
.userReviews > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.userReviews > :global(.__wab_flex-container) > picture > img,
.userReviews
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.avatarGroup {
  width: auto;
  height: 39px;
  display: flex;
  position: relative;
  flex-direction: row;
}
.avatarGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.avatarGroup > :global(.__wab_flex-container) > *,
.avatarGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.avatarGroup > :global(.__wab_flex-container) > picture > img,
.avatarGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.avatars {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar {
  background: url("./images/avatar7.png") center center / cover no-repeat,
    url("./images/avatar6.png") center center / cover no-repeat,
    url("./images/avatar5.png") center center / cover no-repeat,
    url("./images/avatar4.png") center center / cover no-repeat,
    rgba(95, 103, 77, 1);
  box-shadow: 0px 0px 0px 1.5px rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 62px;
}
.contrastBorder {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  border-radius: 9999px;
}
.avatar2 {
  background: url("./images/avatar6.png") center center / cover no-repeat,
    url("./images/avatar5.png") center center / cover no-repeat,
    url("./images/avatar4.png") center center / cover no-repeat,
    rgba(95, 103, 77, 1);
  box-shadow: 0px 0px 0px 1.5px rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 62px;
}
.contrastBorder2 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  border-radius: 9999px;
}
.avatar3 {
  background: url("./images/avatar5.png") center center / cover no-repeat,
    url("./images/avatar4.png") center center / cover no-repeat,
    rgba(95, 103, 77, 1);
  box-shadow: 0px 0px 0px 1.5px rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 62px;
}
.contrastBorder3 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  border-radius: 9999px;
}
.avatar4 {
  background: url("./images/avatar4.png") center center / cover no-repeat,
    rgba(95, 103, 77, 1);
  box-shadow: 0px 0px 0px 1.5px rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 62px;
}
.contrastBorder4 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  border-radius: 9999px;
}
.avatar5:global(.__wab_instance) {
  width: 40px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.avatar6:global(.__wab_instance) {
  width: 40px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.avatar7:global(.__wab_instance) {
  width: 40px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.avatar8:global(.__wab_instance) {
  width: 40px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.avatar9:global(.__wab_instance) {
  width: 40px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.avatar10:global(.__wab_instance) {
  width: 40px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.avatar11:global(.__wab_instance) {
  width: 40px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.avatarAddButton {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 0px 0.5px rgba(207, 212, 220, 1),
    inset 0px 0px 0px 0.5px rgba(207, 212, 220, 1);
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 9999px;
}
.content {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 15%;
  left: 15%;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
.svg__oZIgS {
  object-fit: cover;
  max-width: 100%;
  color: #98a2b3;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.reviews {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.reviews > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.reviews > :global(.__wab_flex-container) > *,
.reviews > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reviews > :global(.__wab_flex-container) > picture > img,
.reviews
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.row {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.row > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.row > :global(.__wab_flex-container) > *,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row > :global(.__wab_flex-container) > picture > img,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.stars {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.stars > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.stars > :global(.__wab_flex-container) > *,
.stars > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.stars > :global(.__wab_flex-container) > picture > img,
.stars > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.starIcon {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__j5AWe {
  object-fit: cover;
  max-width: 100%;
  color: #f2f4f7;
  transform: translate(0px, -0.5px);
  width: 20px;
  height: 19px;
  display: block;
  position: absolute;
  top: 5%;
  left: 0%;
  border-radius: 0.5px;
}
.img__thzuc {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.img__thzuc > picture > img {
  object-fit: cover;
}
.starIcon2 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg___1ZnI {
  object-fit: cover;
  max-width: 100%;
  color: #f2f4f7;
  transform: translate(0px, -0.5px);
  width: 20px;
  height: 19px;
  display: block;
  position: absolute;
  top: 5%;
  left: 0%;
  border-radius: 0.5px;
}
.img___75SBy {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.img___75SBy > picture > img {
  object-fit: cover;
}
.starIcon3 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__sra9N {
  object-fit: cover;
  max-width: 100%;
  color: #f2f4f7;
  transform: translate(0px, -0.5px);
  width: 20px;
  height: 19px;
  display: block;
  position: absolute;
  top: 5%;
  left: 0%;
  border-radius: 0.5px;
}
.img__nbcXq {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.img__nbcXq > picture > img {
  object-fit: cover;
}
.starIcon4 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__eLetu {
  object-fit: cover;
  max-width: 100%;
  color: #f2f4f7;
  transform: translate(0px, -0.5px);
  width: 20px;
  height: 19px;
  display: block;
  position: absolute;
  top: 5%;
  left: 0%;
  border-radius: 0.5px;
}
.img__pnSg {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.img__pnSg > picture > img {
  object-fit: cover;
}
.starIcon5 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__a5R11 {
  object-fit: cover;
  max-width: 100%;
  color: #f2f4f7;
  transform: translate(0px, -0.5px);
  width: 20px;
  height: 19px;
  display: block;
  position: absolute;
  top: 5%;
  left: 0%;
  border-radius: 0.5px;
}
.img__nzcH4 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.img__nzcH4 > picture > img {
  object-fit: cover;
}
.text {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text2 {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.freeBox__xqNy {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0px;
  left: 0px;
  min-width: 0;
}
.freeBox___17Doj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.heading {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.deliverAnEnterpriseQuality {
  display: block;
  font-size: 75.42px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 84.848px;
  color: rgba(255, 255, 255, 1);
  width: 714px;
}
.svg__mEcMt {
  object-fit: cover;
  max-width: 100%;
  color: #fdfdfd;
  width: 462px;
  height: 15px;
  display: block;
  flex-shrink: 0;
}
.headerDetail {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
}
.formFieldContainer {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 608px;
  left: 346px;
  flex-direction: column;
}
.formFieldContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.formFieldContainer > :global(.__wab_flex-container) > *,
.formFieldContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.formFieldContainer > :global(.__wab_flex-container) > picture > img,
.formFieldContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.header {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame5993 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 16px;
  padding: 32px 24px;
}
.frame5993 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame5993 > :global(.__wab_flex-container) > *,
.frame5993 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5993 > :global(.__wab_flex-container) > picture > img,
.frame5993
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.frame5991 {
  width: 700px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame5991 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: calc(0px - 23px);
  width: calc(100% + 23px);
}
.frame5991 > :global(.__wab_flex-container) > *,
.frame5991 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5991 > :global(.__wab_flex-container) > picture > img,
.frame5991
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 23px;
}
.input {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 2px rgba(214, 214, 214, 1);
  width: 172px;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
  flex-shrink: 0;
  border-radius: 8px;
}
.input > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.input > :global(.__wab_flex-container) > *,
.input > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.input > :global(.__wab_flex-container) > picture > img,
.input > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.leading {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 14px 16px;
}
.leading > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.leading > :global(.__wab_flex-container) > *,
.leading > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.leading > :global(.__wab_flex-container) > picture > img,
.leading
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__wZ1 {
  object-fit: cover;
  max-width: 100%;
  color: #6b7280;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar12 {
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 999px;
}
.group {
  width: 35px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__gXvZx {
  object-fit: cover;
  max-width: 100%;
  width: 34.2px;
  height: 18px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__gXvZx > picture > img {
  object-fit: cover;
}
.svg__zQfYx {
  object-fit: cover;
  max-width: 100%;
  color: #192f5d;
  width: 14px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.svg___5ESkP {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.377px, 0.415px);
  width: 13px;
  height: 9px;
  display: block;
  position: absolute;
  top: 0%;
  left: 2.92%;
}
.text__ayMoK {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(106, 113, 127, 1);
  position: relative;
}
.svg__v3Oes {
  object-fit: cover;
  max-width: 100%;
  color: #6b7280;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider {
  background: rgba(228, 230, 234, 1);
  width: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame6384 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame6384 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.frame6384 > :global(.__wab_flex-container) > *,
.frame6384 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6384 > :global(.__wab_flex-container) > picture > img,
.frame6384
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.frame5989 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame5989 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame5989 > :global(.__wab_flex-container) > *,
.frame5989 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5989 > :global(.__wab_flex-container) > picture > img,
.frame5989
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.bed {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__cxn5Z {
  object-fit: cover;
  max-width: 100%;
  color: #314351;
  transform: translate(-0.0009999999999998899px, 0px);
  width: 20px;
  height: 14px;
  display: block;
  position: absolute;
  top: 20.83%;
  left: 8.33%;
}
.freeBox___98OgM {
  display: block;
  position: relative;
  width: 0px;
  height: 31px;
  flex-shrink: 0;
}
.svg__x4Yt2 {
  object-fit: cover;
  max-width: 100%;
  color: #d7d7d7;
  transform: scale(1.000000499999875, 1.0000004999998748)
    rotate(90.0572957604145deg);
  width: 31px;
  height: 1px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
}
.text__lEl2D {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(70, 84, 104, 1);
  position: relative;
}
.expandMore {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__dadd {
  object-fit: cover;
  max-width: 100%;
  color: #314351;
  transform: translate(0px, -0.0259999999999998px);
  width: 12px;
  height: 8px;
  display: block;
  position: absolute;
  top: 33.33%;
  left: 25%;
}
.divider2 {
  background: rgba(228, 230, 234, 1);
  width: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.trailing {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 14px 16px;
}
.trailing > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.trailing > :global(.__wab_flex-container) > *,
.trailing > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.trailing > :global(.__wab_flex-container) > picture > img,
.trailing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.avatar13 {
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 999px;
}
.group2 {
  width: 35px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__jgs6M {
  object-fit: cover;
  max-width: 100%;
  width: 34.2px;
  height: 18px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__jgs6M > picture > img {
  object-fit: cover;
}
.svg__d7D7B {
  object-fit: cover;
  max-width: 100%;
  color: #192f5d;
  width: 14px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.svg__xk7I {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.377px, 0.415px);
  width: 13px;
  height: 9px;
  display: block;
  position: absolute;
  top: 0%;
  left: 2.92%;
}
.copy {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.rectangle {
  width: 75%;
  height: 75%;
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 3px;
}
.svg__lxnZn {
  object-fit: cover;
  max-width: 100%;
  color: #6b7280;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.text__f8D3G {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(106, 113, 127, 1);
  position: relative;
}
.img__ay3Rk {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img__ay3Rk > picture > img {
  object-fit: cover;
}
.input2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 2px rgba(214, 214, 214, 1);
  width: 172px;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
  flex-shrink: 0;
  border-radius: 8px;
}
.input2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.input2 > :global(.__wab_flex-container) > *,
.input2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.input2 > :global(.__wab_flex-container) > picture > img,
.input2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.leading2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 14px 16px;
}
.leading2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.leading2 > :global(.__wab_flex-container) > *,
.leading2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.leading2 > :global(.__wab_flex-container) > picture > img,
.leading2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__zIgpZ {
  object-fit: cover;
  max-width: 100%;
  color: #6b7280;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar14 {
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 999px;
}
.group3 {
  width: 35px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__aZBwB {
  object-fit: cover;
  max-width: 100%;
  width: 34.2px;
  height: 18px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__aZBwB > picture > img {
  object-fit: cover;
}
.svg__yg1Ef {
  object-fit: cover;
  max-width: 100%;
  color: #192f5d;
  width: 14px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.svg__ts0G2 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.377px, 0.415px);
  width: 13px;
  height: 9px;
  display: block;
  position: absolute;
  top: 0%;
  left: 2.92%;
}
.text__ugIOx {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(106, 113, 127, 1);
  position: relative;
}
.svg__yaU82 {
  object-fit: cover;
  max-width: 100%;
  color: #6b7280;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider3 {
  background: rgba(228, 230, 234, 1);
  width: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame6385 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame6385 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.frame6385 > :global(.__wab_flex-container) > *,
.frame6385 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6385 > :global(.__wab_flex-container) > picture > img,
.frame6385
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.frame5990 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame5990 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame5990 > :global(.__wab_flex-container) > *,
.frame5990 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5990 > :global(.__wab_flex-container) > picture > img,
.frame5990
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.shower {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__jBxqq {
  object-fit: cover;
  max-width: 100%;
  color: #314351;
  transform: translate(-0.5px, 0px);
  width: 17px;
  height: 22px;
  display: block;
  position: absolute;
  top: 4.16%;
  left: 16.66%;
}
.freeBox__jfT3E {
  display: block;
  position: relative;
  width: 0px;
  height: 31px;
  flex-shrink: 0;
}
.svg___1NxSi {
  object-fit: cover;
  max-width: 100%;
  color: #d7d7d7;
  transform: scale(1.000000499999875, 1.0000004999998748)
    rotate(90.0572957604145deg);
  width: 31px;
  height: 1px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
}
.text__xgqmu {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(70, 84, 104, 1);
  position: relative;
}
.expandMore2 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg___4Kqwc {
  object-fit: cover;
  max-width: 100%;
  color: #314351;
  transform: translate(0px, -0.0259999999999998px);
  width: 12px;
  height: 8px;
  display: block;
  position: absolute;
  top: 33.33%;
  left: 25%;
}
.divider4 {
  background: rgba(228, 230, 234, 1);
  width: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.trailing2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 14px 16px;
}
.trailing2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.trailing2 > :global(.__wab_flex-container) > *,
.trailing2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.trailing2 > :global(.__wab_flex-container) > picture > img,
.trailing2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.avatar15 {
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 999px;
}
.group4 {
  width: 35px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__cFEc {
  object-fit: cover;
  max-width: 100%;
  width: 34.2px;
  height: 18px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__cFEc > picture > img {
  object-fit: cover;
}
.svg__kAye {
  object-fit: cover;
  max-width: 100%;
  color: #192f5d;
  width: 14px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.svg__uJqZg {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.377px, 0.415px);
  width: 13px;
  height: 9px;
  display: block;
  position: absolute;
  top: 0%;
  left: 2.92%;
}
.copy2 {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.rectangle2 {
  width: 75%;
  height: 75%;
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 3px;
}
.svg___85I21 {
  object-fit: cover;
  max-width: 100%;
  color: #6b7280;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.text__erqmS {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(106, 113, 127, 1);
  position: relative;
}
.img__ijyrk {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img__ijyrk > picture > img {
  object-fit: cover;
}
.input3 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 2px rgba(214, 214, 214, 1);
  width: 324px;
  height: 60px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
  flex-shrink: 0;
  border-radius: 8px;
}
.input3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.input3 > :global(.__wab_flex-container) > *,
.input3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.input3 > :global(.__wab_flex-container) > picture > img,
.input3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.leading3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 14px 16px;
}
.leading3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.leading3 > :global(.__wab_flex-container) > *,
.leading3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.leading3 > :global(.__wab_flex-container) > picture > img,
.leading3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__nhSt6 {
  object-fit: cover;
  max-width: 100%;
  color: #6b7280;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar16 {
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 999px;
}
.group5 {
  width: 35px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__czlew {
  object-fit: cover;
  max-width: 100%;
  width: 34.2px;
  height: 18px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__czlew > picture > img {
  object-fit: cover;
}
.svg__lsix3 {
  object-fit: cover;
  max-width: 100%;
  color: #192f5d;
  width: 14px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.svg__lYgEf {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.377px, 0.415px);
  width: 13px;
  height: 9px;
  display: block;
  position: absolute;
  top: 0%;
  left: 2.92%;
}
.text__k4Tus {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(106, 113, 127, 1);
  position: relative;
}
.svg___9Ug6A {
  object-fit: cover;
  max-width: 100%;
  color: #6b7280;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider5 {
  background: rgba(228, 230, 234, 1);
  width: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame6386 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame6386 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.frame6386 > :global(.__wab_flex-container) > *,
.frame6386 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6386 > :global(.__wab_flex-container) > picture > img,
.frame6386
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.frame5992 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame5992 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame5992 > :global(.__wab_flex-container) > *,
.frame5992 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5992 > :global(.__wab_flex-container) > picture > img,
.frame5992
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.cleaningServices {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__ixWlv {
  object-fit: cover;
  max-width: 100%;
  color: #314351;
  transform: translate(-0.5px, 0px);
  width: 17px;
  height: 20px;
  display: block;
  position: absolute;
  top: 8.33%;
  left: 16.66%;
}
.freeBox___900Ux {
  display: block;
  position: relative;
  width: 0px;
  height: 31px;
  flex-shrink: 0;
}
.svg__wo4Fx {
  object-fit: cover;
  max-width: 100%;
  color: #d7d7d7;
  transform: scale(1.000000499999875, 1.0000004999998748)
    rotate(90.0572957604145deg);
  width: 31px;
  height: 1px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
}
.text__pYXut {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(70, 84, 104, 1);
  position: relative;
}
.expandMore3 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg___1Lp6W {
  object-fit: cover;
  max-width: 100%;
  color: #314351;
  transform: translate(0px, -0.0259999999999998px);
  width: 12px;
  height: 8px;
  display: block;
  position: absolute;
  top: 33.33%;
  left: 25%;
}
.divider6 {
  background: rgba(228, 230, 234, 1);
  width: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.trailing3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 14px 16px;
}
.trailing3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.trailing3 > :global(.__wab_flex-container) > *,
.trailing3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.trailing3 > :global(.__wab_flex-container) > picture > img,
.trailing3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.avatar17 {
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 999px;
}
.group6 {
  width: 35px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__saWD {
  object-fit: cover;
  max-width: 100%;
  width: 34.2px;
  height: 18px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__saWD > picture > img {
  object-fit: cover;
}
.svg__fDx9B {
  object-fit: cover;
  max-width: 100%;
  color: #192f5d;
  width: 14px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.svg__fdV4W {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.377px, 0.415px);
  width: 13px;
  height: 9px;
  display: block;
  position: absolute;
  top: 0%;
  left: 2.92%;
}
.copy3 {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.rectangle3 {
  width: 75%;
  height: 75%;
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 3px;
}
.svg__rdNbs {
  object-fit: cover;
  max-width: 100%;
  color: #6b7280;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.text__cdsDu {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(106, 113, 127, 1);
  position: relative;
}
.img__sRSwg {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img__sRSwg > picture > img {
  object-fit: cover;
}
.frame6012 {
  filter: drop-shadow(0px 4px 4px rgba(153, 153, 153, 1));
  width: auto;
  height: 72px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
}
.frame6012 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame6012 > :global(.__wab_flex-container) > *,
.frame6012 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6012 > :global(.__wab_flex-container) > picture > img,
.frame6012
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.bookingCta {
  background: rgba(255, 136, 0, 1);
  width: 700px;
  display: block;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 8px;
}
.frame6004 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 24px;
  left: 272px;
  flex-direction: row;
}
.frame6004 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame6004 > :global(.__wab_flex-container) > *,
.frame6004 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6004 > :global(.__wab_flex-container) > picture > img,
.frame6004
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__ePYn1 {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.005em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.arrowForward {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__jyZh {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 16.66%;
  left: 16.66%;
}
.freeBox__mnOOx {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0px;
  left: 0px;
  min-width: 0;
}
.frame427322521 {
  background: rgba(242, 93, 149, 1);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  padding: 6px 10px;
}
.frame427322521 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame427322521 > :global(.__wab_flex-container) > *,
.frame427322521 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame427322521 > :global(.__wab_flex-container) > picture > img,
.frame427322521
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.headerDetail3 {
  display: block;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.freeBox__vYjSk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headerDetail2 {
  display: block;
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
}
.calendar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
