.root {
  display: inline-flex;
  position: relative;
  width: auto;
  justify-self: flex-start;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
}
.rootlayout_stretch {
  width: 100%;
  min-width: 0;
}
.roothighlighted {
  width: 100%;
  min-width: 0;
}
.radioPrimitive {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 100;
  opacity: 0;
  background: none;
}
.highlightBadge {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-kBUjS8NnBBKj);
  z-index: 1;
  top: 0px;
  position: absolute;
  left: 0px;
  display: none;
  border-radius: 100px;
  padding: 6px;
}
.highlightBadgehighlighted {
  width: auto;
  top: -15px;
  left: auto;
  right: auto;
  display: flex;
}
.highlightText2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5%;
  color: var(--token-VTaDGzN_XDHN);
  white-space: pre;
  font-weight: 500;
  min-width: 0;
}
.highlightText2highlighted {
  width: auto;
}
.freeBox__mkFhy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mkFhy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.freeBoxsecondLine__mkFhywlRvf {
  display: flex;
  flex-direction: column;
}
.freeBoxsecondLine__mkFhywlRvf > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBoxsecondLine__mkFhywlRvf > :global(.__wab_flex-container) > *,
.freeBoxsecondLine__mkFhywlRvf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxsecondLine__mkFhywlRvf > :global(.__wab_flex-container) > picture > img,
.freeBoxsecondLine__mkFhywlRvf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxsecondLine__mkFhywlRvf > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxsecondLine__mkFhywlRvf > :global(.__wab_flex-container) > *,
  .freeBoxsecondLine__mkFhywlRvf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .freeBoxsecondLine__mkFhywlRvf
    > :global(.__wab_flex-container)
    > picture
    > img,
  .freeBoxsecondLine__mkFhywlRvf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.radioLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 70px;
  max-width: 100%;
  padding-left: 26px;
  padding-right: 26px;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid var(--token-n0TGgQvptpOZ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .radioLabel {
    height: 54px;
    margin-bottom: 0px;
    flex-shrink: 0;
    border-radius: 8px;
    padding: 8px;
  }
}
.radioLabelchecked {
  background: var(--token-8AhlvI3CT_eO);
  border-color: var(--token-8AhlvI3CT_eO);
}
.radioLabellayout_stretch {
  width: 100%;
  min-width: 0;
}
.radioLabelradioStyle_outlined {
  border-width: 2px;
}
.radioLabelradioStyle_discount {
  padding-left: 12px;
  padding-right: 12px;
  width: auto;
  justify-content: space-between;
  border-width: 2px;
}
.radioLabeltextAlign_left {
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .radioLabelsize__default {
    height: 54px;
    flex-shrink: 0;
  }
}
.radioLabelsize_small {
  height: 60px;
  padding-left: 21px;
  padding-right: 21px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .radioLabelsize_small {
    height: 44px;
    flex-shrink: 0;
  }
}
.radioLabelchecked_radioStyle_outlined {
  background: #ffffff;
  border-color: var(--token-xyBobwFIvvRP);
}
.radioLabelradioStyle_discount_layout_stretch {
  width: 100%;
  min-width: 0;
}
.root:hover .radioLabel {
  cursor: pointer;
  border-color: var(--token-xyBobwFIvvRP);
}
.freeBox__nmdRx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
}
.freeBoxradioStyle_discount__nmdRxAs7Zk {
  justify-content: space-between;
}
.freeBoxtextAlign_left__nmdRxOtpEa {
  justify-content: flex-start;
  align-items: center;
}
.text___5G0VF {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: var(--token-S0xtZWnacHBG);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5G0VF {
    font-size: 14px;
    font-weight: 500;
    white-space: pre-wrap;
    text-align: center;
  }
}
.textchecked___5G0VFf1Xd {
  color: #ffffff;
}
.textradioStyle_outlined___5G0VFycqtX {
  color: var(--token-S0xtZWnacHBG);
  letter-spacing: 0.5%;
}
.textradioStyle_discount___5G0VFAs7Zk {
  text-align: center;
  letter-spacing: 0%;
}
.textsize_small___5G0VFgP0X0 {
  font-size: 16px;
}
.textradioStyle_discount_checked___5G0VFAs7ZkF1Xd {
  letter-spacing: 0%;
}
.text__gxpoj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-r6sX7ZuRkcN4);
  text-transform: lowercase;
  min-width: 0;
  display: none;
}
.textsecondLine__gxpojwlRvf {
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textsecondLine__gxpojwlRvf {
    font-size: 14px;
  }
}
.discountBlock {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: auto;
  margin-top: 6px;
}
.discountBlockradioStyle_discount {
  width: auto;
  display: flex;
}
.discountBlockradioStyle_discountLine2 {
  display: flex;
}
.discountBlocksecondLine {
  display: none;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #f35e96;
  height: 14px;
  margin-right: 6px;
  width: auto;
}
.svgradioStyle_discount {
  display: block;
}
.svgradioStyle_discountLine2 {
  display: none;
}
.text___79TbV {
  font-weight: 500;
}
